.vscode/*

config/bdd.php
config/diskigo_bdd.php
config/wow_bdd.php
config/wow_config.php

diskigo/.vscode/*

hdv/.vscode/*

thisip/.vscode/*
thisip/assets/cache/dom/*
!thisip/assets/cache/dom/index.php
thisip/assets/cache/ip/*
!thisip/assets/cache/ip/index.php
thisip/assets/cache/kaotic/*
!thisip/assets/cache/kaotic/index.php
thisip/assets/cache/tmdb/*
!thisip/assets/cache/tmdb/index.php