body {
	font-family: Roboto, Arial, Helvetica, sans-serif;
}

fieldset {
	border: 1px solid rgba(0,0,0, 1);
	margin-bottom: 0.5rem;
	padding: .5rem 1rem;
}

legend {
	font-size: .85rem;
	font-weight: bold;
	float: none;
	line-height: inherit;
	margin-bottom: 0;
	padding: 0;
	width: 100%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

th							{ padding-right: 1rem; }
td							{ text-align: center; }
label						{ display: block; }
input						{ margin-right: .25rem; }
.curseur					{ cursor: pointer; }
#filtres					{ float: left; padding: 0.5rem; }

#filtres .capacity label {
	display: inline-block;
	width: 4rem;
}

#filtres .capacity input	{ width: 4rem; }
#disclosures				{ margin: 1rem; }
#marques,
#marquesFooter				{ font-size: 1.15rem; text-align: left; }
.th-inner					{ text-align: center !important; }

.active {
	text-decoration: none;
	color: rgba(0,0,0, 1);
	font-weight: bold;
}

h1		{ display: block; margin: 25px 0 25px 15px; }

a:hover				{ opacity: .75 !important; }
header a			{ text-underline-offset: .5rem; }
#filtres a			{ text-decoration: none !important; }

/* Remonter la page */

#remonterPage {
	background-color: rgba(255,255,255, 1);
	border: 1px solid rgba(0,0,0, 1);
	border-radius: .75rem;
	bottom: 25px;
	color: rgba(51,51,51, 1);
	cursor: pointer;
	display: none;
	font-size: 1rem;
	left: 50%;
	opacity: .85;
	padding: .5rem .75rem;
	position: fixed;
	transform: translateX(-50%);
	z-index: 1000;
}

#remonterPage:hover {
	opacity: 1;
}

@media (min-width: 768px) {
	#marques,
	#marquesFooter {
		font-size: 1.25rem;
		text-align: center;
	}
}